* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
}
body {
	font-family:"Quicksand",serif;
  font-optical-sizing:auto;
  font-style:normal;
  background:#1d1e1d;
  color:#D7D7D7;
}
.navbar {
  position:fixed;
  display:flex;
  justify-content:center;
  width:100%;
  z-index:999;
  padding:30px 0;
  transition:all 0.3s ease;
  top:0;
  width:100%;
  height:75px;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#000),color-stop(59%,rgba(0,0,0,0.8)),to(transparent));
  background-image:linear-gradient(180deg,#000,rgba(0,0,0,0.9) 80%,transparent);
  padding:15px 0;
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr="#FCD43E",endColorstr="#336C9C",GradientType=1 );
}
.navbar .max-width {
  width:90%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.navbar .logo a {
  color:#fff;
  margin-top:3px;
  margin-left:3px;
  font-size:30px;
  font-weight:600;
}
.navbar .logo img {
  margin-bottom:5px;
  width:50px;
}
.navbar .logo {
  display:flex;
  align-items:center;
  margin:0 0 0 5px;
}
.menu {
  margin-right:15px;
}
.navbar .menu li {
  list-style:none;
  display:inline-block;
}
.navbar .menu li a {
  display:block;
  color:#fff;
  font-size:18px;
  font-weight:600;
  margin-left:20px;
  transition:color 0.3s ease;
}
.navbar .menu li a:hover {
  color:hsla(47,97%,62%,1);
  text-decoration:none;
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr="#FCEA74",endColorstr="#FCD43E",GradientType=1 );
}
.navbar.sticky .menu li a:hover {
  color:#fff;
}
.menu-btn {
  color:#fff;
  font-size:23px;
  cursor:pointer;
  display:none;
}
.inaclogo {
  display:none;
}
@media (max-width:947px) {
  .navbar .max-width {
  width:90%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.aclogo a {
  color:white;
  font-size:30px;
  font-weight:600;
}
.aclogo img {
  width:47px;
}
.aclogo {
  border-bottom:1px solid white;
  position:absolute;
  width:100%;
  padding-bottom:5px;
  top:1%;
  display:flex;
  justify-content:center;
  align-items:end;
  color:white;
  font-size:35px;
}
#menu-btn {
  position:absolute;
  left:5%;
  display:flex;
  align-items:center;
  z-index:999;
}
.menu-btn {
  display:block;
  z-index:999;
}
.menu-btn i.active:before {
  content:"\f00d";
}
.navbar .menu {
  position:fixed;
  height:100vh;
  width:100%;
  left:-100%;
  top:0;
  background:#111;
  text-align:center;
  padding-top:80px;
  transition:all 0.3s ease;
}
.navbar .menu.active {
  left:0;
}
.navbar .menu li {
  display:block;
}
.navbar .menu li a {
  display:inline-block;
  margin:20px 0;
  font-size:25px;
}
}.main {
  width:100%;
  margin-top:100px;
}
.main h1 {
  text-align:center;
  margin-bottom:20px;
}
.main hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid gray;
  margin:5px auto 20px auto;
  padding:0;
  width:90%;
}
.intro {
  display:flex;
  margin:10px auto 0 auto;
  flex-flow:column;
  width:90%;
}
.intro h1 {
  text-align:center;
  margin-bottom:15px;
}
.intro hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid gray;
  margin:0 auto;
  padding:0;
  width:100%;
}
.intro p {
  font-size:1.1em;
  color:#CBCBCB;
  font-family:"Poppins",sans-serif;
  text-align:justify;
  line-height:1.5;
}
.intro .p1 {
  margin-top:30px;
  margin-bottom:10px;
}
.intro .p2 {
  margin-bottom:20px;
}
.intro span {
  font-size:1.1em;
  font-family:"Poppins",sans-serif;
  margin-bottom:5px;
}
.intro ul {
  list-style-position:inside;
}
.intro li {
  font-size:1.1em;
  text-indent:-1.5em;
  padding-left:1.5em;
  line-height:1.5;
  color:#CBCBCB;
  font-family:"Poppins",sans-serif;
}
.blog {
  display:flex;
  margin:0 auto;
  flex-flow:column;
  margin-top:50px;
  width:90%;
}
.blog h1 {
  text-align:justify;
  margin-bottom:20px;
}
.blog hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid gray;
  margin:0 auto;
  padding:0;
  width:100%;
}
.blog p {
  font-size:1.1em;
  margin-bottom:10px;
  color:#CBCBCB;
  font-family:"Poppins",sans-serif;
  text-align:justify;
  line-height:1.5;
}
.blog span {
  font-size:1.1em;
  font-family:"Poppins",sans-serif;
  margin-bottom:5px;
}
.blog ol {
  list-style-position:inside;
}
.blog ul {
  list-style-position:inside;
}
.blog li {
  font-size:1.1em;
  text-indent:-1.5em;
  padding-left:1.5em;
  line-height:1.5;
  color:#CBCBCB;
  font-family:"Poppins",sans-serif;
}
.blog .lul {
  margin-bottom:10px;
  margin-top:5px;
}
footer {
  margin-top:3em;
  background-color:#2a2a2a;
  color:#ffffff;
  font-size:16px;
}
footer * {
  font-family:"Poppins",sans-serif;
  box-sizing:border-box;
  border:none;
  outline:none;
}
.row {
  padding:2em 1em;
}
.row.primary {
  display:grid;
  background:#2a2a2a;
  grid-template-columns:2fr 1fr 2fr;
  align-items:stretch;
}
.column {
  background:#2a2a2a;
  width:100%;
  display:flex;
  flex-direction:column;
  padding:0 2em;
}
.followhead,.quickhead,.namehead {
  width:100%;
  margin-bottom:1rem;
  text-align:left;
  color:#2a8ded;
  font-size:1.6em;
  white-space:nowrap;
}
footer ul {
  list-style:none;
  display:flex;
  flex-direction:column;
  padding:0;
  margin:0;
}
footer li:not(:first-child) {
  margin-top:0.8em;
}
footer ul li a {
  color:#ffffff;
  text-decoration:none;
}
footer ul li a:hover {
  color:#2a8ded;
}
footer .about p {
  text-align:justify;
  line-height:1.5;
  margin:0;
}
.social a {
  text-decoration:none;
  color:white;
}
.social {
  color:white;
  display:flex;
  justify-content:flex-start;
  font-size:2.4em;
  flex-direction:row;
}
.social i {
  padding:1rem;
}
.social i:hover {
  color:#2a8ded;
}
.copyright {
  flex-wrap:wrap;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1em 3em;
  background-color:#25262e;
}
#made {
  color:white;
  text-decoration:none;
}
.copyright p {
  font-size:0.9em;
  text-align:center;
}
/* Medium devices (tablets) */
@media (max-width:992px) {
  .main {
  width:95%;
}
.blog h1 {
  font-size:1.6em;
}
.intro p,.blog p,.blog li,.intro li {
  font-size:1em;
  line-height:1.5;
}
.blog span,.intro span {
  font-size:1em;
}
}/* Small devices (mobile) */
@media (max-width:768px) {
  .main {
  margin-top:90px;
  width:100%;
  padding:0 15px;
}
.intro,.blog {
  max-width:100%;
}
.blog h1 {
  font-size:1.4em;
  margin-bottom:15px;
  text-align:left;
}
.intro p,.blog p {
  font-size:0.95em;
  line-height:1.5;
  margin-bottom:12px;
}
.blog span,.intro span {
  font-size:0.95em;
  margin-bottom:8px;
}
.blog h3,.intro h3 {
  font-size:1.2em;
  margin:15px 0 8px 0;
}
.blog li,.intro li {
  font-size:0.95em;
  line-height:1.5;
  margin-bottom:6px;
  padding-left:15px;
  text-indent:-15px;
}
.followhead,.quickhead,.namehead {
  font-size:1.4em;
}
}/* Extra small devices (small phones) */
@media (max-width:480px) {
  .main {
  margin-top:80px;
  padding:0 10px;
}
.blog,.intro {
  margin-top:30px;
}
.blog h1 {
  font-size:1.3em;
  margin-bottom:12px;
}
.intro p,.blog p {
  font-size:0.9em;
  line-height:1.4;
  margin-bottom:10px;
}
.blog span,.intro span {
  font-size:0.9em;
  margin-bottom:6px;
}
.blog h3,.intro h3 {
  font-size:1.1em;
  margin:12px 0 6px 0;
}
.blog li,.intro li {
  font-size:0.9em;
  line-height:1.4;
  margin-bottom:5px;
}
.followhead,.quickhead,.namehead {
  font-size:1.3em;
  margin-bottom:0.8rem;
}
.row {
  padding:1.5em 0.5em;
}
.column {
  padding:0 0.8em;
}
.navbar .logo a {
  font-size:22px;
}
.navbar .logo img {
  width:35px;
}
}/* Navigation menu improvements */
@media (max-width:947px) {
  .inaclogo {
  display:flex;
  align-items:center;
  justify-content:center;
  padding:15px 0;
  border-bottom:1px solid rgba(255,255,255,0.2);
  margin-bottom:15px;
}
.menu-img {
  width:40px;
  height:auto;
}
.menu-name {
  color:#fff;
  margin-left:5px;
  font-size:24px;
  font-weight:600;
}
.navbar .menu {
  padding-top:0;
  overflow-y:auto;
}
.navbar .menu li a {
  font-size:22px;
  margin:15px 0;
}
}/* Footer responsive improvements */
@media (max-width:850px) {
  .row.primary {
  grid-template-columns:1fr;
  gap:20px;
}
.column {
  padding-bottom:20px;
}
.social {
  justify-content:flex-start;
  flex-wrap:wrap;
}
.social i {
  padding:0.8rem 0.8rem 0.8rem 0;
}
.copyright {
  flex-direction:column;
  text-align:center;
  padding:1em;
}
#made {
  margin-top:5px;
}
.about p {
  font-size:0.95em;
}
}/* Fix lists styling across all devices */
ul.lul {
  list-style-position:inside;
  padding-left:0;
}
.lul li {
  padding-left:1.5em;
  text-indent:-1.5em;
}
/* Ensure all images are responsive */
img {
  max-width:100%;
  height:auto;
}
/* Improve spacing between blog sections */
.blog {
  margin-top:40px;
  padding-top:10px;
}
@media (max-width:768px) {
  .blog {
  margin-top:30px;
}
}